
body {
	background-image: url("C:/Users/Hassan/Desktop/atifcoding/images/background.png");
	height: 740px;

}
/*  ABOUT_SECTION-1: Top Bar */
.top-bar{
    Background: white;
    border-color: solid grey 2px;
    overflow: auto;
}

.top-wrap{
    margin: auto;
    width: 960px;
}

.top-bar-name{
    float: left;
    background: #4aaaa5;
    padding: 5px 20px;
}

.h1__top-bar{
    color: #ffffff;
    font-size: 30px;
}

.nav-link-wrap {
    float: left;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.top-bar-navigation {
    float: right;
    padding: 35px 0px 10px 0px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.nav-link-spacer{
    float: left;
    margin:0px 10px 0px 10px;
}

/*  ABOUT_SECTION-2: Middle Bar */

.middle-bar{
    background: #ffffff;
    width: 960px;
    margin: 30px auto;
}
.middle-wrap{
    margin: auto;
    width: 960px;
    height: 400px;
}

.middle-bar-content-wrap-main{
    padding: 20px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

h1{
    color:#4aaaa5;
}

.hr-content{
    color: #777777
    
}

.profile-pic{
    padding: 10px 10px 10px 10px;
    float: left;
}
.p1, .p2{
    line-height:25px;
    font-family: Arial, Helvetica, sans-serif;

}

/*  ABOUT_SECTION-3: Footer Bar */

footer{
	background: #666666;
	border-top: #4aaaa5 solid 8px;
	padding: 20px 0px 0px 0px;
	color: #cccccc;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	width: 100%;
	margin:200px auto auto auto;
}

/*  CONTACT_SECTION-1: Middle bar/box/main */

.contact-middle-wrap{
    margin: auto;
    width: 960px;
    height: 625px;
}
.contact-formstandard-text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
	font-size: large;
	
}
form {
    margin: 30px 0px 0px 0px;
}

label {
    cursor: default;
}

input, textarea {
    margin: 10px 0px 20px 0px;
    border: #CCCCCC solid 1px;
    padding: 10px;
	width: 900px;
	color: #cccccc;
	
}

textarea {
    height: 200px;
}

button {
    border: none;
    padding: 10px 35px 10px 35px;
    background-color: #4aaaa5;
    font-size: large;
	color: #ffffff;
	
}
